<div class="row">
    <div class="col-md-12">
        <form name="form" (submit)="addNewPost()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="email" class="form-control" id="title" name="title" [(ngModel)]="post.title">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea type="email" class="form-control" id="body" name="body" [(ngModel)]="post.body"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="Add New Post">
        </form>
    </div>
</div>