<div class="row">
    <div class="col-md-12 mt-4">
        <div class="row">
            <div *ngFor="let album of albums" class="col-md-3 post">
                <div class="body"><a [routerLink]="[album.id]" routerLinkActive="router-link-active">{{album.title}}</a>
                </div>
                <div class="stats">
                    <div>Author: {{displayUserName(album.userId)}}</div>
                    <div>Photos Count: {{displayPhotosCount(album.id)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>