.biggerImage {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5%;
    max-height: 95%;
  }
}

.album {
  text-align: center;

  img {
    margin: 5px;
  }
}
