<div class="row">
    <div class="col-lg-12 album">
        <h2>{{album.title}}</h2>
        <img src="{{photo.thumbnailUrl}}" alt="{{photo.title}}" (click)="showThisImageLarger(photo.url)" *ngFor="let photo of photos">
    </div>
</div>
<div *ngIf="largeImageUrl" class="biggerImage" (click)="largeImageUrl = ''">
    <img src="{{largeImageUrl}}" alt="">
</div>