<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" [routerLink]="['/posts']" routerLinkActive="router-link-active">Posts</a>
                        <a class="nav-item nav-link active" [routerLink]="['/album']" routerLinkActive="router-link-active">Album</a>
                        <a class="nav-item nav-link active" [routerLink]="['/todos']" routerLinkActive="router-link-active">Todos</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>