.post {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;


    .btn-group {
        width: 100%;
        margin: 10px 0;

    }


    .title{
        margin-bottom: 10px;
        border-bottom: 1px dashed lightgray;
    }

    .author {
        font-size: 14px;
        margin-top: 5px;
    }

    &:nth-child(even) {
        background: #f1f1f1;
    }
}