<div class="row">
    <div class="col-md-8 mt-3">
        <button class="btn btn-success" [routerLink]="['/posts','add']" routerLinkActive="router-link-active">Add New Post</button>
    </div>
    <div class="col-md-12 mt-4">
        <div class="row">
            <div *ngFor="let post of posts; index as i" class="col-md-3 post">
                <div class="title">{{post.title}}</div>
                <div class="body"><a [routerLink]="[post.id]" routerLinkActive="router-link-active">{{post.body}}</a>
                </div>
                <div class="author">Author: {{displayUserName(post.userId)}}</div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success" [routerLink]="[post.id,'edit']">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>