<div class="row">
    <div class="col-lg-12">
        <div class="row todo" *ngFor="let todo of todos">
            <div class="col-md-8">{{todo.title}}</div>
            <div class="col-md-4 flex-row-reverse d-flex">
                <button class="btn"
                    [ngClass]="{'btn-success': todo.completed, 'btn-danger': !todo.completed}">{{todo.completed ? 'Done' : 'Not Done'}}</button>
            </div>
        </div>
    </div>
</div>