<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">{{post.title}}</div>
            <div class="col-md-12">{{post.body}}</div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>Comments Block</h2>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="comment row" *ngFor="let comment of comments">
            <div class="col-md-2">{{comment.name}}</div>
            <div class="col-md-2">{{comment.email}}</div>
            <div class="col-md-8">{{comment.body}}</div>
        </div>
    </div>
    <div class="col-md-12 new-comments-block">
        <h2>Add New Comment</h2>
        <div class="row">
            <div class="col-md-7">
                <form name="commentForm" (submit)="addNewComment()">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com"
                            [(ngModel)]="newComment.email">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="newComment.name">
                    </div>
                    <div class="form-group">
                        <label for="body">Comment</label>
                        <textarea class="form-control" id="body" name="body" rows="3" [(ngModel)]="newComment.body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>